/* hidden contents */
:global(.is-visuallyhidden) {
    position: absolute;
    top: -9999px;
    left: -9999px;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
:global(.is-hidden) {
    display: none !important;
}